@using Maxim.Model.ECI
@using System.Data;
@model StickerOrderMode
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StickerOrder</title>
    <script src="~/scripts/ECI/StickerOrder.js"></script>
    <script type="text/javascript">
        $('input[id=UploadFile]').change(function () {
            $('#photoCover').val($(this).val());
        });
        $(function () {
            //$("#DDLShipmentType").change(function () {
            //    if (this.selectedIndex == 2) {
            //        $("#ExpressCompany").prop("disabled", "")
            //    } else {
            //        $("#ExpressCompany").val("")
            //        $("#ExpressCompany").prop("disabled", "disabled")
            //    }
            //})

            $("#BilltoId").change(function () {
                var data = {
                    NewBillto: $("select[name='BilltoId']").val()
                };

                if ($("#BilltoId option:selected").text() == "--Please Select--") {
                    $("#iBilltoAddress").val("");
                    $("#iCurrency").val("")
                    $("#iBillingAddrContact").val("");
                    $("#iBillingAddrTel").val("");
                } else {
                    var urlPost = "/OrderCommon/GetBilltoAccountInfobyAccountId?billtoId=" + $("select[name='BilltoId']").val();
                    $.post(urlPost, data, function (data, status) {
                        debugger;
                        $("#iBilltoAddress").val(data.ContactAddress);
                        $("#iCurrency").val(data.CurrencyId)
                        $("#iBillingAddrContact").val(data.ContactPerson);
                        $("#iBillingAddrTel").val(data.ContactTelephone);
                    });
                };
            });
            $("#ShiptoId").change(function () {
                var data = {
                    NewBillto: $("#ShiptoId").val()

                };

                if ($("#ShiptoId option:selected").text() == "--Please Select--") {
                    $("#ShipAddrId").html("");
                    $("#iShipAddrContact").val("");
                    $("#iShipAddrTel").val("");
                    $("#iShipAddrCountry").val("");
                } else {
                    $("#ShipAddrId").html("");
                    $("#ShipAddrId").hide();
                    $("#ShipAddrId").show();
                    $("#iShipAddrContact").val("");
                    $("#iShipAddrTel").val("");
                    $("#iShipAddrCountry").val("");
                    var urlPost = "/OrderCommon/GetShipAddressInforlistbyShipToId?ShipToId=" + $("select[name='ShiptoId']").val();
                    $.post(urlPost, data, function (data, status) {
                        $.each(data, function (i, item) {
                            $("#ShipAddrId").append("<option value='" + item.ShipToAddressId + "'>" + item.oos_address + "</option>");
                        });
                        var _seq = 0;
                        $.each(data, function (i, item) {
                            if (_seq == 0) {
                                $("#ShipAddrId").val(item.ShipToAddressId);
                                $("#iShipAddrContact").val(item.oos_contactname);
                                $("#iShipAddrTel").val(item.oos_contacttel);
                                $("#iShipAddrCountry").val(item.oos_country);
                                _seq++;
                            }
                        });
                    });
                }


            })
            $("#ShipAddrId").change(function () {
                if ($("#ShipAddrId").val() == "" || $("#ShipAddrId").val() == null) {
                    $("#iShipAddrContact").val("");
                    $("#iShipAddrTel").val("");
                    $("#iShipAddrCountry").val("");
                } else {
                    var data = {
                        _shipaddressId: $(this).val()
                    };
                    var urlPost = "/OrderCommon/GetShipAddressInfobyShipAddressId?ShippAddrId=" + $(this).val();
                    $.post(urlPost, data, function (data, status) {
                        //$("textarea[name='ShipAddress']").val(data.oos_address);
                        $("#iShipAddrContact").val(data.oos_contactname);
                        $("#iShipAddrTel").val(data.oos_contacttel);
                        $("#iShipAddrCountry").val(data.oos_country);
                    });
                }
            });
        })
        function CloseOrder() {
            //$.ajax({
            //    url: "/ECI/OriginalOrderQuery?Formatid=FMT002",
            //    type:"get",
            //    dataType: "html",
            //    success: function (html) {
            //        $("#content").html(html)
            //    }
            //})
            $("#StickerOrder").hide();
            $("#OrderQuery").show();
            $("#page-inner2_Org").show();
            $("#portlet-title").show();
        }
    </script>
</head>

@using (Html.BeginForm("StickerOrder", "ECI", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormUpload" }))
{
    <body>
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box" id="form_wizard_1">
                    <div class="portlet-title">
                        <div class="caption">
                            <em class="red-em" id="step">Place Order</em>
                            <em class="gray-em  Stickstep1" id="step1" style="display:none;">Submit Success</em>
                            <em class="gray-em" id="step2" style="display:none;"></em>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div id="Query">
                            <input class="m-wrap span8" id="brandid" name="brandid" type="text" value="@Model.Brandid" style="display:none;">
                            <h3 class="form-section" style="text-align:center"></h3>
                            <div id="HideQuery">
                                @*第一行*@
                                <div class="row-fluid">
                                    <div class="span2 span2_hide">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName"></label>
                                            <div class="controls">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4 ">
                                        <span>PrintShop:</span>
                                        @Html.DropDownListFor(x => x.PSID, Model.PSlist, new { @class = "m-wrap span8" })
                                    </div>
                                    <div class="span4 ">
                                        <span>Shipto#:</span>
                                        @Html.DropDownListFor(x => x.ShiptoId, Model.ShiptoList, new { @class = "m-wrap span8" })
                                    </div>
                                </div>
                                @*第二行*@
                                <div class="row-fluid">
                                    <div class="span2 span2_hide">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName"></label>
                                            <div class="controls">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4 ">
                                        <span>Billto#:</span>
                                        @Html.DropDownListFor(x => x.BilltoId, Model.BilltoList, new { @class = "m-wrap span8" ,@name= "BilltoId" })


                                    </div>
                                    <div class="span4 ">
                                        <span>Shipping Address:</span>
                                        @Html.DropDownListFor(x => x.ShipAddrId, Model.ShipAddrList, new { @class = "m-wrap span8",@name= "ShiptoId" })
                                    </div>
                                </div>
                                @*第三行*@
                                <div class="row-fluid">
                                    <div class="span2 span2_hide">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName"></label>
                                            <div class="controls">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4 ">
                                        <span>Billing Address:</span>
                                        <input id="iBilltoAddress" name="iBilltoAddress" class="m-wrap span8" readonly="readonly" type="text" value="@Model.BilltoAddress " />
                                    </div>
                                    <div class="span4 ">
                                        <span>Contact:</span>
                                        <input class="m-wrap span8" id="iShipAddrContact" name="iShipAddrContact" type="text" value="@Model.ShipAddrContact" readonly="readonly">

                                    </div>
                                </div>
                                @*第四行*@
                                <div class="row-fluid">
                                    <div class="span2 span2_hide">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName"></label>
                                            <div class="controls">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4 ">
                                        <span>Currency:</span>
                                        <input class="m-wrap span8" id="iCurrency" name="iCurrency" type="text" value="@Model.Currency" readonly="readonly">

                                    </div>
                                    <div class="span4 ">
                                        <span>Tel:</span>
                                        <input class="m-wrap span8" id="iShipAddrTel" name="iShipAddrTel" type="text" value="@Model.ShipAddrTel" readonly="readonly">

                                    </div>

                                </div>
                                @*第五行*@
                                <div class="row-fluid">
                                    <div class="span2 span2_hide">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName"></label>
                                            <div class="controls">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4 ">
                                        <span>Contact:</span>
                                        <input class="m-wrap span8" id="iBillingAddrContact" name="iBillingAddrContact" type="text" value="@Model.BilltoAddrContact" readonly="readonly">

                                    </div>
                                    <div class="span4 ">
                                        <span>Product<font style="color:red;">*</font></span>
                                        @Html.DropDownListFor(x => x.ProductCustNO, Model.ProductList, new { @class = "m-wrap span8" })
                                    </div>

                                </div>
                                @*第六行*@
                                <div class="row-fluid">
                                    <div class="span2 span2_hide">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName"></label>
                                            <div class="controls">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4 ">
                                        <span>Tel:</span>
                                        <input class="m-wrap span8" id="iBillingAddrTel" name="iBillingAddrTel" type="text" value="@Model.BilltoAddrTel" readonly="readonly">
                                    </div>
                                    <div class="span4 ">
                                        <span>Waste allowance:</span>
                                     <select id="Waste">
                                         <option value="0">--Please Select--</option>
                                         <option value="5">5%</option>
                                         <option value="10">10%</option>
                                         <option value="15">15%</option>
                                     </select>
                                    </div>

                                </div>
                                @*第七行*@
                                <div class="row-fluid">
                                    <div class="span2 span2_hide">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName"></label>
                                            <div class="controls">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4 ">
                                        <span>Shipment Type<font color="red">*</font></span>
                                        @Html.DropDownListFor(x => x._ShipmentType, Model.ShipmentType, new { @id = "DDLShipmentType", @class = "m-wrap span8" })
                                    </div>
                                    <div class="span4 " style="display:none;">
                                        <span>Freight Company<font color="red">*</font></span>
                                        @Html.DropDownListFor(x => x._ExpressCompany, Model.ExpressCompany, new { @id = "ExpressCompany", @disabled = "disabled" , @class = "m-wrap span8" })
                                    </div>

                                </div>

                            </div>
                            @*第八行*@
                            <div id="Gridview" class="dataTables_wrapper form-inline" role="grid">
                                <table id="StickerorderDB" class="table table-striped table-bordered table-hover table-full-width dataTable">

                                    <thead>
                                        <tr class="head" style="font-size: 12px !important;">
                                            <th class="center">Venture</th>
                                            <th class="center">Order_Number</th>
                                            <th class="center">Department</th>
                                            <th class="center">Order</th>
                                            <th class="center">Model_not_used</th>
                                            <th class="center">COLOR_not_used</th>
                                            <th class="center">Department_not_used</th>
                                            <th class="center">Bar</th>
                                            <th class="center">Size_Field_not_used</th>
                                            <th class="center">EANI_EAN</th>
                                            <th class="center">Manufacturer</th>
                                            <th class="center">PVP</th>
                                            <th class="center">Currency</th>
                                            <th class="center">Amount_qty</th>
                                            <th class="center" width="20">QTY</th>
                                        </tr>
                                    </thead>

                                    <tbody id="NeedOrderNowOrder" class="OrderDetail shoppingcart" >
                                        @{
                                            int i = 1;
                                            if (Model.OrderDB.Count > 0)
                                            {
                                                foreach (StickerOrderDB mo in Model.OrderDB)
                                                {
                                                    int QTY = int.Parse(@mo.Amount_qty.Substring(0, @mo.Amount_qty.Length-2));
                                                    string name = "ECIQty" + i;
                                                    <tr class="head" style="font-size: 12px !important;">
                                                    <th class="center">@mo.Venture</th>
                                                    <th class="center">@mo.Order_Number</th>
                                                    <th class="center">@mo.Department</th>
                                                    <th class="center">@mo.Order</th>
                                                    <th class="center">@mo.Model_not_used</th>
                                                    <th class="center">@mo.COLOR_not_used</th>
                                                    <th class="center">@mo.Department_not_used</th>
                                                    <th class="center">@mo.Bar</th>
                                                    <th class="center">@mo.Size_Field_not_used</th>
                                                    <th class="center">@mo.EANI_EAN</th>
                                                    <th class="center">@mo.Manufacturer</th>
                                                    <th class="center">@mo.PVP</th>
                                                    <th class="center">@mo.Currency</th>
                                                    <th class="center">@mo.Amount_qty</th>   
                                                    <th><input id="Qty" name=@name type="number" value=@QTY style="width:70px;" readonly="readonly"/></th>                                         
                                                </tr>
                                                    i++;
                                                }
                                            }
                                         }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="portlet-body" id="Query-Results">

                            <button type="button" id="SubmintOrder" class="btn btn-default" style="border: 1px solid #D6D6D6;">Submit</button>

                            <button type="button" id="Close" class="btn btn-default" style="border: 1px solid #D6D6D6;" onclick="CloseOrder();">Close</button>
                          
                        </div>
                    </div>

                    @* 提交成功  *@
                    <div id="panSuccess" style="display:none;">
                        <div style="border: #ec008c solid 1px;">
                            <span id="lblRemark" style="margin-left: 25px;"> <i>Your Maxim No. is :</i><b id="ECIOrderNo" style="top:0;font-size: 20px;color: #ff0015;"></b> </span>
                            <span id="lblOrderNO"></span>
                            <br>
                            <br>
                            <div>
                                <div id="pan_en">

                                    <ul>
                                        <li style="color:red"><em style="font-size:24px;">Important! </em>Currently system is uploading your data. Click "Confirm Order" icon afterward to submit the order.</li>
                                        <li>
                                            1.For barcode items, please confirm artwork before submitting the order.Once submitted,
                                            the order will be received by our factory and processed immediately.
                                        </li>
                                        <li>**Processed orders cannot be cancelled or changed** </li>
                                        <li>
                                            2. Payment Terms are ship upon payment. Goods will be delivered after we receive
                                            your payment.
                                        </li>
                                        <li>
                                            3. If you have any complaints regarding our customer service, delays or product
                                            quality, please contact us at:<a href="mailto: fo26.as-1@maxim-group.com" style="color:blue">
                                                                              fo26.as-1@maxim-group.com
                                            </a>. Your feedback is very important to us.
                                        </li>
                                    </ul>

                                </div>

                                <div id="pan_zh" style="display: none;">
                                    <ul style="list-style: none; width: 960px; padding: 0px; margin: 0px;">
                                        <li>1.关于barcode产品，请确认画稿无误后再提交订单。我司车间会在您提交订单之后收到订单并会直接安排生产。 </li>
                                        <li>&nbsp;&nbsp; 若订单已生产是无法取消或做任何更改。 </li>
                                        <li>2.付款方式：款到发货。收到您的货款后，我司会尽快为您发货。</li>
                                        <li>
                                            3.若您对我们业务人员的服务有任何意见或建议，或对我司产品有任何疑问，请联系我们：<a href="mailto: fo26.as-1@maxim-group.com" style="color:blue">
                                                                                         fo26.as-1@maxim-group.com
                                            </a>. 您的反馈对我们来说至关重要！
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <br>

                            <button id="btnReturnToTescoMain" type="button" class="btn btn-default" name="Cancel" style="margin:10px;" onclick="FunReturnToMainPage()">Return</button>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </body>
}
</html>
