@using System.Data;
@using Maxim.Model.BaseModel
@model PriceUSDBase
@{
    ViewBag.Title = "PriceBase";
    Layout = null;
}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PriceBase</title>
    <script src="~/scripts/Maintain/PriceBase.js"></script>

</head>
@using (Html.BeginForm())
{
    <input type="hidden" name="hiddenBrandID" id="hiddenBrandID" value="@Model.Brandid" />
    <input type="hidden" id="Price" name="Price" />
    <input type="hidden" id="EditPriceRT" name="EditPriceRT" />
    <div class="row-fluid">
        <div class="span12">
            <div class="portlet box " id="form_wizard_1">
                <div class="portlet-title">
                    <div class="caption">
                        <em class="red-em" id="step1">Price Base</em>
                    </div>
                </div>
                <div class="portlet-body form">

                    <div id="Query">
                        <h3 class="form-section" style="text-align:center"></h3>
                        @*第一行*@
                        <div class="row-fluid">
                            <div class="span2 span2_hide">
                                <div class="control-group">
                                    <label class="control-label" for="firstName"></label>
                                    <div class="controls">
                                    </div>
                                </div>
                            </div>
                            <div class="span4 ">
                                <span>Brand:</span>
                                @Html.DropDownListFor(x => x.Brandid, Model.BrandList, new { @class = "m-wrap span8" })
                            </div>
                            <div class="span4 ">
                                <span>Currency:</span>
                                @Html.DropDownListFor(x => x.Currency, Model.CurrencyList, new { @class = "m-wrap span8" })
                            </div>
                        </div>
                        @*第二行*@
                        <div class="row-fluid">
                            <div class="span2 span2_hide">
                                <div class="control-group">
                                    <label class="control-label" for="firstName"></label>
                                    <div class="controls">
                                    </div>
                                </div>
                            </div>
                            <div class="span4 ">
                                <span>PrintShop:</span>
                                <select id="PrintShopId" name="PrintShopId" class="m-wrap span8">
                                    @foreach (SelectListItem item in Model.PrintShopIdList)
                                    {
                                        if (item.Disabled)
                                        {
                                            <option disabled="disabled" value="@item.Value">@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value" style="color:black;font-weight:bold">@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="span4 ">
                                <span>Product Name:</span>
                                @Html.DropDownListFor(x => x.ProductCode, Model.ProductCodeList, new { @class = "m-wrap span4" })
                                <input type="text" name="txtProductCode" id="txtProductCode" class="m-wrap span4" style="display:none" />
                             </div>

                        </div>
                        @*第三行*@
                        <div class="row-fluid">
                            <div class="span2 span2_hide">
                                <div class="control-group">
                                    <label class="control-label" for="firstName"></label>
                                    <div class="controls">
                                    </div>
                                </div>
                            </div>
                            <div class="span4 ">
                                <span></span>
                                <button id="btnSearch" class="btn btn-default" type="button" value="Search" name="Command">Search</button>
                                <button type="button" id="AddNewPrice" name="AddNewPrice" class="btn btn-default" onclick="return NewPrice(this);" value="">Add New</button>
                            </div>
                            <div class="span4 ">
                               
                            </div>
                           
                        </div>

                        <span></span>
                       
                    </div>
                    <div class="portlet-body" id="Query-Results" style="display:none;">
                        <div id="Gridview" class="dataTables_wrapper form-inline" role="grid">
                            <table class="table table-striped table-bordered table-hover table-full-width dataTable" id="OrderDetail" aria-describedby="sample_2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="center">Seq</th>
                                        <th class="center">Print Shop</th>
                                        <th class="center">ProductCustNO</th>
                                        <th class="center"style="color:gray;">UnitPrice(USD)</th>
                                        <th class="center">UnitPrice</th>
                                        <th class="center">Currency</th>
                                        <th class="center"></th>
                                    </tr>
                                </thead>
                                <tbody class="OrderDetail" role="alert" aria-live="polite" aria-relevant="all"></tbody>
                            </table>
                        </div>
                        <div class="row-fluid">

                            <div class="span4">
                                <div class="mypage">
                                    <ul>
                                        <li id="PageIndex"><<</li>
                                        <li id="Pageup"><</li>
                                        <li><input type="text" id="nowpage" value="1" /></li>
                                        <li>/</li>
                                        <li><i id="TotalPageCount">0</i></li>
                                        <li id="Pagewown">></li>
                                        <li id="PageLast">>></li>
                                        <li id="PageGO">GO</li>
                                        <li><input id="pc" name="pc" type="hidden" value=1><input id="PageTotalCount" name="PageTotalCount" type="hidden" value=1></li>
                                    </ul>
                                </div>

                            </div>
                            @*导出Excel*@
                            <div class="span4">
                                <button class="btn" type="submit" formaction="/Maintain/PriceBaseToExecl" id="btnExcel" name="btnExcel" style="border: 1px solid #D6D6D6;width: 170px;margin-left: 33%;margin-top: -2px;">Export to Excel<i class="m-icon-swapright m-icon-white"></i></button>
                            </div>


                        </div>
                    </div>
                    <div id="EditInfor" style="display:none;">
                        <div class="row-fluid">
                            <div class="span2 span2_hide">
                                <div class="control-group">
                                    <label class="control-label" for="firstName"></label>
                                    <div class="controls">
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <span>Print Shop:</span>
                                <input id="EditPrintShop" name="EditPrintShop" type="text" value="" class="m-wrap span8" readonly>
                            </div>
                            <div class="span4">

                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span2 span2_hide">
                                <div class="control-group">
                                    <label class="control-label" for="firstName"></label>
                                    <div class="controls">
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <span>ProductCustNO:</span>
                                <input id="EditProductCode" name="EditProductCode" type="text" value="" class="m-wrap span8">
                            </div>
                            <div class="span4">

                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span2 span2_hide">
                                <div class="control-group">
                                    <label class="control-label" for="firstName"></label>
                                    <div class="controls">
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <span>Currency:</span>
                                <input id="EditCurrency" name="EditCurrency" type="text" value="" class="m-wrap span8">
                            </div>
                            <div class="span4">

                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span2 span2_hide">
                                <div class="control-group">
                                    <label class="control-label" for="firstName"></label>
                                    <div class="controls">
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <span>Unit Price:</span>
                                <input id="EditUnitPriceUSD" name="EditUnitPriceUSD" type="text" value="" class="m-wrap span8">
                            </div>
                            <div class="span4">
                                <button type="button" id="EditCalculation" name="EditCalculation"style="color:red;">自动换算外币价格</button>
                                <p id="EditDefaultValue" style="color:red;">(美元价格:<a id="EditUSDPrice" style="color:red;"></a><a id="EditCurrencyRT" style="color:red;margin-left:25px;"></a>对美元汇率:<a id="EditFOXR" style="color:red;"></a>)</p>
                            </div>
                        </div>
                        <div class="row-fluid" id="Save">
                            <div class="span3 span2_hide">
                            </div>
                            <div class="span3">
                                <button type="button" id="EditSavePrice" name="EditSavePrice" class="btn btn-default" value="Query" onclick="return SavePrice(this);">Save</button>
                                <button type="button" id="Return" name="Return" class="btn btn-default" value="Query">Return</button>
                            </div>

                        </div>

                    </div>
                    <div id="Query-order" style="display:none;">
                        <div class="row-fluid">
                            <div class="span2 span2_hide">
                                <div class="control-group">
                                    <label class="control-label" for="firstName"></label>
                                    <div class="controls">
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <span>Print Shop:</span>
                                <select id="AddPrintShop" name="AddPrintShop" class="m-wrap span8"></select>
                            </div>
                            <div class="span4">

                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span2 span2_hide">
                                <div class="control-group">
                                    <label class="control-label" for="firstName"></label>
                                    <div class="controls">
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <span>ProductCustNO:</span>
                                <select id="AddProductCode" name="AddProductCode" class="m-wrap span2"></select>
                                <input type="text" id="txtAddProductCode" name="txtAddProductCode" class="m-wrap span2" style="display:none" />
                            </div>
                            <div class="span4">

                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span2 span2_hide">
                                <div class="control-group">
                                    <label class="control-label" for="firstName"></label>
                                    <div class="controls">
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <span>Currency:</span>
                                @*<input id="NewCurrency" name="NewCurrency" type="text" value="" class="m-wrap span8" >*@
                                <select id="NewCurrency" name="NewCurrency" class="m-wrap span8"></select>
                            </div>
                            <div class="span4">

                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span2 span2_hide">
                                <div class="control-group">
                                    <label class="control-label" for="firstName"></label>
                                    <div class="controls">
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <span>Unit Price:</span>
                                <input id="AddUnitPriceUSD" name="AddUnitPriceUSD" type="text" value="" class="m-wrap span8">
                              
                            </div>
                            <div class="span4">
                                <button type="button" id="Calculation" name="Calculation" style="color:red;display:none;">自动换算外币价格</button>
                                <p id="DefaultValue" style="color:red;display:none;">(美元价格:<a id="USDPrice" style="color:red;">   </a><a id="CurrencyRT" style="color:red;margin-left:25px;"></a>对美元汇率:<a id="FOXR" style="color:red;"></a>)</p>
                            </div>
                        </div>
                        <div class="row-fluid" id="Save">
                            <div class="span3 span2_hide">
                            </div>
                            <div class="span3">
                                <button type="button" id="AddSavePrice" name="AddSavePrice" class="btn btn-default" value="Query" onclick="return SaveNewPrice(this);">Save</button>
                                <button type="button" id="AddReturn" name="AddReturn" class="btn btn-default" value="Query">Return</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

