@using System.Data;
@using Maxim.Model.BaseModel
@model PriceUSDBase
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintShopContactor</title>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/Maintain/PrintShopContactor.js"></script>
    <style type="text/css">
        #cha_num {
            width: 600px;
            height: 50px;
            /*border: 1px solid black;*/
        }

        .cha_ti {
            width: 80px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            /*border: 1px solid black;*/
        }

        .cha_shi {
            width: 200px;
            height: 50px;
            line-height: 50px;
            /*border: 1px solid black;*/
        }
 
        #Insert {
            height: 210px;
            width: 410px;
            /*border: 1px solid black;*/
        }

        #left {
            float: left;
            width: 300px;
            height: 210px;
            /*border: 1px solid black;*/
        }

        .spanAdd1 {
            width: 80px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            /*border: 1px solid black;*/
        }
    </style>
</head>
<body>
    <form method=post>
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box " id="form_wizard_1">
                    @*页眉*@
                    <div class="portlet-title">
                        <div class="caption">
                            <em class="red-em" id="step1">PrintShopContactor</em>
                        </div>
                    </div>

                    <div class="portlet-body form">
                        @*条件*@
                        <div id="Query">
                            @*第一行*@
                            <div class="row-fluid">
                                <div class="span2 span2_hide">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName"></label>
                                        <div class="controls"></div>
                                    </div>
                                </div>
                                <div class="span4 ">
                                    <span>Printshop:</span>
                                    <select id="PrintShopId" name="PrintShop">
                                        @foreach (SelectListItem item in Model.PrintShopList)
                                        {
                                            if (item.Disabled)
                                            {
                                                <option disabled="disabled" value="@item.Value">@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value" style="color:black; font-weight:bold">@item.Text</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="span4 ">
                                    @*<span></span>*@
                                    <input type="button" id="PrintShopContactor_Select" name="=PrintShopContactor_Select" class="btn btn-default" value="Search" style="float:left;" />
                                    <input type="button" id="PrintShopContactor_Add" name="=PrintShopContactor_Add" class="btn btn-default" value="Add New" style="float:left;" />
                                    <button type="submit" id="PrintShopContactor_Export" name="=PrintShopContactor_Export" formaction="/Maintain/PrintShopContactorExportExcel" class="btn btn-default" style="float:left;">Export to Excel</button>
                                </div>
                            </div>
                        </div>

                        @*查询*@
                        @*<div id="Gridview" class="dataTables_wrapper form-inline" role="grid">
                            <div id="Code">
                                <table class="table table-striped table-bordered table-hover table-full-width dataTable" id="Code_Table" aria-describedby="sample_2_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="center">操作列</th>
                                            <th class="center">PrintShop</th>
                                            <th class="center">Tel</th>
                                            <th class="center">Contactor</th>
                                            <th class="center">Email</th>
                                        </tr>
                                    </thead>

                                    <tbody class="OrderDetail" role="alert" aria-live="polite" aria-relevant="all"></tbody>
                                </table>
                            </div>
                        </div>*@

                        <div id="Gridview" class="dataTables_wrapper form-inline" role="grid">
                            <table class="table table-striped table-bordered table-hover table-full-width dataTable" id="Code_Table" aria-describedby="sample_2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="center">操作列</th>
                                        <th class="center">PrintShop</th>
                                        <th class="center">Tel</th>
                                        <th class="center">Contactor</th>
                                        <th class="center">Email</th>
                                    </tr>
                                </thead>
                                <tbody class="OrderDetail" role="alert" aria-live="polite" aria-relevant="all"></tbody>
                            </table>
                        </div>




                        @* 分页 *@
                        <div class="row-fluid" id="paging">
                            <div class="span4">
                                <div class="mypage">
                                    <ul>
                                        <li id="PageIndex"><<</li>
                                        <li id="Pageup"><</li>
                                        <li><input type="text" id="nowpage" value="1" /></li>
                                        <li>/</li>
                                        <li><i id="TotalPageCount">0</i></li>
                                        <li id="Pagewown">></li>
                                        <li id="PageLast">>></li>
                                        <li id="PageGO">GO</li>
                                        <li><input id="pc" name="pc" type="hidden" value=1><input id="PageTotalCount" name="PageTotalCount" type="hidden" value=1></li>
                                        @*<li><button type="button" id="CreateNewAccount" name="CreateNewAccount" class="btn btn-default" onclick="funAdd();">Create</button></li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>

                        @*添加,修改*@
                        <div id="Insert" style="margin-top:10px;">
                            <div id="left">
                                <table class="Add">
                                    <tr>
                                        <td class="spanAdd1">PrintShop:</td>
                                        <td>
                                            <select id="PrintShop" name="PrintShopx">
                                                @foreach (SelectListItem item in Model.PrintShopList)
                                                {
                                                    if (item.Disabled)
                                                    {
                                                        <option disabled="disabled" value="@item.Value">@item.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.Value" style="color:black;font-weight:bold">@item.Text</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="spanAdd1">Tel:</td>
                                        <td><input type="text" id="oos_telephone" name="oos_telephone" class="PrintShopContactor" /></td>
                                    </tr>

                                    <tr>
                                        <td class="spanAdd1">Contactor:</td>
                                        <td><input type="text" id="oos_contacter" name="oos_contacter" class="PrintShopContactor" /></td>
                                    </tr>

                                    <tr>
                                        <td class="spanAdd1">Email:</td>
                                        <td><input type="text" id="oos_mailaddress" name="oos_mailaddress" class="PrintShopContactor" /></td>
                                    </tr>

                                    <tr>
                                        <td class="spanAdd1" colspan="2">
                                            <input type="button" id="PrintShopContactor_Edit" name="=Stock_Edit" class="btn btn-default" value="Update" style="width:80px;height:35px;float:left;" />
                                            <input type="button" id="Add" name="Add" class="btn btn-default" value="Add" style="width:80px;height:35px;float:left;" />
                                            <input type="button" id="PrintShopContactor_Cancel" name="=Stock_Cancel" class="btn btn-default" value="Cancel" style="width:80px;height:35px;float:left;" />
                                            <input type="hidden" id="UpdateId" />
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
